:root {
    --main-c: #2596be;
    --secondary-c: #92cbdf;
    --dark-c: #134b5f;
    --light-c: #e9f5f9;
}

body, html, h1,h2,h3 {
    font-family: 'Nunito', sans-serif;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    height: max-content;
}

body {
    background-color: var(--light-c);
}

main {
    min-height: 100vh;
}

main section {
    padding: 2rem;
}

main h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.main-nav {
    background-color: var(--secondary-c);
    color: var(--dark-c);
    padding-left: 2rem;
}

.header-logo-img {
    height: 30px;
    width: 30px;
}

.hero-section {
    background-image: url("../img/feet-hero.jpg");
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    opacity: 0.8;
}

.footer {
    background-color: var(--secondary-c);
    padding: 2rem;
}

.footer h2 {
    font-size: 1.25rem;
    font-weight: 600;
}

.footer h3 {
    font-size: large;
    font-weight: 600;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}

.footer-social-media-links i {
    font-size: x-large;
}

.footer-contact-links i { 
    font-size: large;
    color: var(--main-c);
}

.footer-contact-links small {
    font-size: medium;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    margin-left: 0.5rem;
    text-transform: lowercase;
}

.footer-social-media-links {
    display: flex;
}

.footer-social-media-links a {
    margin-right: 0.5rem;
}

.footer-contact-links, .footer-social-media-links, .footer-treatments-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-contact-links li, .footer-social-media-links li, .footer-treatments-links li {
    margin-bottom: 0.5rem;
}


@media screen and (min-width: 1000px) {
    footer {
        display: flex;
    }
    .footer div {
        margin: 0rem 4rem;
    }
    .footer h3 {
        margin-top: 0;
    }
 }